<h1>Hello <%= fullname %>,</h1>
<p>Here is OTP Code that you need to verify email to your account</p>
<p style="font-size: large;"><b>your OTP: <%= otp %></b></p>
<p style="color: red;">if you did not create this account, no futrher action is required.</p>
<p>Regards,</p>
<p>Tiketku</p>