<h1>Hello <%= fullname %>,</h1>
<p>please click the button below to verify your email address</p>
<a href="<%= url %>"><button type="button">Verify Email Address</button></a>
<p style="color: red;">if you did not create this account, no futrher action is required.</p>
<p>Regards,</p>
<p>Tiketku</p>
<br><br>
<p>if you're having trouble clicking the "Verify Email Address" button, copy and paste the URL below into your web browser: <%= url %></p>